libs/*/target
apps/*/target
libs/*/classes
apps/*/classes
libs/*/checkouts
apps/*/checkouts
libs/*/pom.xml
apps/*/pom.xml
libs/*/pom.xml.asc
apps/*/pom.xml.asc
**/*.jar
**/*.class
/.lein-*
libs/*/.lein-*
apps/*/.lein-*
libs/*/.nrepl-port
apps/*/.nrepl-port
.hgignore
.hg/
